<button id="login-button" class="btn btn-outline-secondary mr-2" data-toggle="popover" data-placement="bottom">Sign
    in</button>
<button hidden (click)="authenticate()" id="hidden-auth-btn" class="btn btn-outline-secondary"></button>

<!-- <div id="login_popover_content_wrapper" style="display: none">
    <div class="container">
        <input type="text" class="col form-control mt-2" id="login-input" placeholder="Login">
        <input type="password" class="col form-control mt-2" id="password-input" placeholder="Password">
        <button id="authenticate" class="col btn btn-success mt-2 mb-2">
            <i class="fa-sign-in fa fa-1x"></i>Sign in</button>
    </div>
</div> -->

<button class="btn btn-outline-secondary" routerLink="/register">Sign up</button>