<div class="row mt-2 mb-4">

  <div class="col-lg-2"></div>

  <div class="col-lg-8">

    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" formControlName="email" class="form-control"
          [ngClass]="{'is-invalid': registerForm.controls.email.invalid && registerForm.controls.email.dirty}"
          placeholder="Enter email">
        <div *ngIf="registerForm.controls.email.invalid && !registerForm.controls.email.errors?.uniqueCustomerEmail"
          class="invalid-feedback">
          Please choose a valid email address.
        </div>
        <div *ngIf="registerForm.controls.email.errors?.uniqueCustomerEmail" class="invalid-feedback">
          An account with the given email address already exists.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control"
          [ngClass]="{'is-invalid': registerForm.controls.password.invalid && registerForm.controls.password.dirty}"
          placeholder="Password" aria-describedby="passwordHelp">
        <div *ngIf="registerForm.controls.password.invalid" class="invalid-feedback">
          Please choose a valid password. The password should contain at least 8 characters.
        </div>
        <small id="passwordHelp" class="form-text text-muted">Hasło powinno się składać z conajmniej 8 znaków.</small>
      </div>

      <div class="form-group form-check">
        <input id="terms" type="checkbox" formControlName="terms" class="form-check-input">
        <label class="form-check-label" for="terms">I have read and agree to</label>
        <a id="terms-button" class="registration-terms" tabindex="0"> Terms and Conditions</a> and
        <a id="privacy-button" class="registration-terms" tabindex="0"> Privacy Policy</a>.
      </div>
      <div id="terms-text" style="display: none">
        <h6>Terms and Conditions</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium urna ut accumsan luctus. Nullam in
          condimentum neque. Donec ornare posuere elit ut ornare. Praesent imperdiet molestie porttitor. Etiam sit amet
          porttitor metus.</p>
      </div>
      <div id="privacy-text" style="display: none">
        <h6>Privacy Policy</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium urna ut accumsan luctus. Nullam in
          condimentum neque. Donec ornare posuere elit ut ornare. Praesent imperdiet molestie porttitor. Etiam sit amet
          porttitor metus.</p>
      </div>

      <button type="submit" class="btn btn-success mt-2" [disabled]="registerForm.invalid">Sign up</button>

    </form>

    <p id="success-message" style="display: none;">
      Welcome to ShopsApp. You can login using your email address <b id="email-text"></b>.
    </p>

  </div>

  <div class="col-lg-2"></div>

</div>