<div class="container">
    <header class="py-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 pt-1">
                <a class="text-muted" href="#"></a>
            </div>
            <div class="col-md-4 text-center">
                <link href='https://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet'>
                <h1 class="main-logo text-dark" href="#">SHOPS.APP</h1>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center mt-3 mt-md-0">
                <button class="btn btn-outline-secondary mr-2" href="#">Sign in</button>
                <button class="btn btn-outline-secondary" href="#">Sign up</button>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-main-light">
        <label class="navbar-brand" href="#">Categories</label>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="navbarsExample06"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown border-xl-left d-flex align-items-center">
                    <a class="nav-link dropdown" href="http://example.com" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Electronics</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                        <a class="dropdown-item" href="#">Category 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown border-xl-left d-flex align-items-center">
                    <a class="nav-link dropdown" href="http://example.com" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clothes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                        <a class="dropdown-item" href="#">Category 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown border-xl-left d-flex align-items-center">
                    <a class="nav-link dropdown" href="http://example.com" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home & Garden</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                        <a class="dropdown-item" href="#">Category 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown border-xl-left d-flex align-items-center">
                    <a class="nav-link dropdown" href="http://example.com" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entertainment</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                        <a class="dropdown-item" href="#">Category 3</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </nav>

    <div class="jumbotron p-3 p-md-4 text-white rounded bg-main-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-4 font-italic">Main page banner title</h1>
            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium urna ut accumsan luctus. Nullam in condimentum
                neque. Donec ornare posuere elit ut ornare. Praesent imperdiet molestie porttitor. Etiam sit amet porttitor
                metus.
            </p>
            <p class="lead mb-0">
                <a href="#" class="text-white font-weight-bold">Show more...
                </a>
            </p>
        </div>
        <ul class="pagination justify-content-md-center mt-3">
            <li class="mx-3 banner-pagination">
                <a href="#"></a>
            </li>
            <li class="mx-3 banner-pagination">
                <a href="#"></a>
            </li>
            <li class="mx-3 banner-pagination">
                <a href="#"></a>
            </li>
            <li class="mx-3 banner-pagination">
                <a href="#"></a>
            </li>
            <li class="mx-3 banner-pagination">
                <a href="#"></a>
            </li>
        </ul>
    </div>
</div>

<main role="main" class="container">

    <div class="row justify-content-around align-items-left">

        <div class="card product-card mb-5">
            <img class="card-img-top" src="http://placehold.it/250x200" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu laoreet quam. Vivamus convallis enim mi,
                    sed ullamcorper velit dictum et. Curabitur vel ullamcorper ligula.</p>
                <div class="flex-row mt-auto">
                    <hr>
                    <div class="product-price mb-2">$29,99</div>
                    <div class="row justify-content-around">
                        <button class="col-md-5 btn btn-success">
                            <i class="fa-cart-plus fa fa-1x"></i>Add</button>
                        <button class="col-md-5 btn btn-secondary">
                            <i class="fa-align-left fa fa-1x"></i>Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card product-card mb-5">
            <img class="card-img-top" src="http://placehold.it/250x200" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="flex-row mt-auto">
                    <hr>
                    <div class="product-price mb-2">$29,99</div>
                    <div class="row justify-content-around">
                        <button class="col-md-5 btn btn-success">
                            <i class="fa-cart-plus fa fa-1x"></i>Add</button>
                        <button class="col-md-5 btn btn-secondary">
                            <i class="fa-align-left fa fa-1x"></i>Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card product-card mb-5">
            <img class="card-img-top" src="http://placehold.it/250x200" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu laoreet quam. Vivamus convallis enim mi,
                    sed ullamcorper velit dictum et. Curabitur vel ullamcorper ligula.</p>
                <div class="flex-row mt-auto">
                    <hr>
                    <div class="product-price mb-2">$29,99</div>
                    <div class="row justify-content-around">
                        <button class="col-md-5 btn btn-success">
                            <i class="fa-cart-plus fa fa-1x"></i>Add</button>
                        <button class="col-md-5 btn btn-secondary">
                            <i class="fa-align-left fa fa-1x"></i>Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card product-card mb-5">
            <img class="card-img-top" src="http://placehold.it/250x200" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu laoreet quam. Vivamus convallis enim mi,
                    sed ullamcorper velit dictum et. Curabitur vel ullamcorper ligula.</p>
                <div class="flex-row mt-auto">
                    <hr>
                    <div class="product-price mb-2">$29,99</div>
                    <div class="row justify-content-around">
                        <button class="col-md-5 btn btn-success">
                            <i class="fa-cart-plus fa fa-1x"></i>Add</button>
                        <button class="col-md-5 btn btn-secondary">
                            <i class="fa-align-left fa fa-1x"></i>Details</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

<footer class="bg-main-light border-top text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
