.main-logo {
    font-family: 'Luckiest Guy';
}

.nav-scroller {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.nav-item {
    max-width: 100px;
}

.banner-pagination {
    background-color: lightcyan;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.product-card {
    max-width: 251px;
}

.product-price{
    font-size: 20px;
    margin: 0 auto;
    color: #333;
}
.product-card:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px lightgreen;
}
