<div class="container">

    <header class="py-3">

        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 pt-1">
                <!-- top-left -->
            </div>
            <div class="col-md-4 text-center">
                <ng-content select="[shopsapp-logo]"></ng-content>
            </div>
            <div class="col-md-4 pt-1">
                <ng-content></ng-content>
            </div>
        </div>

        <ng-content select="[shopsapp-nav]"></ng-content>

    </header>

</div>