<div class="row justify-content-around align-items-left">

  <shop-promoted-auction *ngFor="let auction of auctions" class="card product-card mb-5">

    <img class="card-img-top" src="http://placehold.it/250x200" alt="...">
    <div class="card-body d-flex flex-column">
      <a class="text-dark" routerLink="/auction/{{auction.id}}">
        <h5 class="card-title">{{auction.name}}</h5>
      </a>
      <p class="card-text text-justify">{{auction.description}}</p>
      <div class="flex-row mt-auto">
        <hr>
        <div class="product-price mb-2">$29,99</div>
        <div class="row justify-content-around">
          <button class="col-md-5 btn btn-success">
            <i class="fa-cart-plus fa fa-1x"></i>Add</button>
          <button class="col-md-5 btn btn-secondary" routerLink="/auction/{{auction.id}}">
            <i class="fa-align-left fa fa-1x"></i>Details</button>
        </div>
      </div>
    </div>

  </shop-promoted-auction>

</div>