/* You can add global styles to this file, and also import other style files */

/* Bootstrap customized  start */

@import 'variables'; // my custom vars that overrides bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// buttons
.btn > i {
  margin-right: 10px;
  margin-left: -5px;
  font-size: 1.0em;
}

// colors
$theme-colors: (
  "main-light": #edeff1,
  "main-dark": #27323d
);

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
  @include bg-variant('.bg-#{$color}', $value);
}

// Width and height

.mh-20 { max-height: 20% !important; }

// sizes

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    80: 80%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}

// border breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }
    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

/* Bootstrap customized end */

/* Lightslider customized start */
.lightslider-nav {
  display: block;
}
/* Lightslider customized end */


/* shop-customer start */
.product-price {
  font-size: 20px;
  color: #333;
}
/* shop-customer end */