<app-abstract-list>

  <div filters class="row bg-main-light pt-3">
    <div class="col-10">
      <h4>Filter</h4>
    </div>
    <div class="col-1">
      <i class=" fa fa-1x fa-filter"></i>
    </div>
    <div class="col">
      <div class="row">
        <label class="col-12">Price</label>
        <div class="col-6 mb-3">
          <div class="input-group">
            <input type="number" value="5" class="form-control" id="priceFrom" placeholder="From"
              [formControl]="priceFromInput">
            <div class="input-group-append">
              <span class="input-group-text">{{config.currency}}</span>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="input-group">
            <input type="number" class="form-control" id="priceTo" placeholder="To" [formControl]="priceToInput">
            <div class="input-group-append">
              <span class="input-group-text">{{config.currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-12">Date</label>
        <div class="col-6 mb-3">
          <input type="text" class="form-control" id="dateFrom" placeholder="From" [formControl]="dateFromInput">
        </div>
        <div class="col-6 mb-3">
          <input type="text" class="form-control" id="dateTo" placeholder="To" [formControl]="dateToInput">
        </div>
      </div>
    </div>
  </div>

  <div sort class="row mb-4">
    <div class="col-1">
      <h4>Sort</h4>
    </div>
    <div class="col-11">
      <div class="row">
        <button class="btn btn-outline-secondary mr-2" (click)="sortList(PRICE_SORT)"
          [class.active]="params.priceSort == 'ASC' || params.priceSort == 'DESC'"><i class=" fa fa-1x"
            [class.fa-arrows-v]="params.priceSort == ''" [class.fa-long-arrow-up]="params.priceSort == 'ASC'"
            [class.fa-long-arrow-down]="params.priceSort == 'DESC'"></i>Price</button>
        <button class="btn btn-outline-secondary mr-2" (click)="sortList(DATE_SORT)"
          [class.active]="params.dateSort == 'ASC' || params.dateSort == 'DESC'"><i class=" fa fa-1x"
            [class.fa-arrows-v]="params.dateSort == ''" [class.fa-long-arrow-up]="params.dateSort == 'ASC'"
            [class.fa-long-arrow-down]="params.dateSort == 'DESC'"></i>Date</button>
      </div>
    </div>
  </div>

  <div list class="row justify-content-around">
    <shop-auction-card *ngFor="let auction of (listData$ | async)?.items" class="" [auction]="auction">
    </shop-auction-card>
  </div>

  <div pagination class="row justify-content-around mb-4">
    <app-pagination [paginationData]="(listData$ | async)?.paginationData" [basePath]="getBasePath()"
      [currentPage]="page"></app-pagination>
  </div>

</app-abstract-list>