.product-card {
    max-width: 251px;
}

.product-price {
    font-size: 20px;
    margin: 0 auto;
    color: #333;
}
.product-card:hover {
    opacity:1.00;
    box-shadow: 0px 0px 10px lightgreen;
}